.flexDiv{
    display:grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: auto;
    font-size: 12px;
    text-align:left;
    padding:0px 150px 0px 150px;
    gap:30px;
    font-family: sans-serif;
}

.flexDiv>div>h6{
    color:grey;
    font-size:12px;
    text-align: center;
}

.flexDiv>div>p:hover{
    color:#c48408;
}

.flexDiv1{
    display:flex;
    justify-content: space-around;
    padding:0px 150px 0px 150px;
    font-family: sans-serif;
    font-size: 14px;
}

#social{
    display:flex;
    margin-top:30px;
    width: 30%;
    justify-content: space-between;
} 

.i5{
    height:20px;
    padding-top:15px;
}

.i6{
    height: 50px;
    width: 150px;
}

/* img{
    height:20px;
    padding-top:15px;
} */

button{
    font-size:9px;
    width:100px;
    color:white;
    height: 26px;
    background-color:black;
    border-style: none;
    /* margin-bottom: -10px; */
}

#emailSearch{
    font-size:11px;
    width:200px;
    height: 20px;
}